<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.1" targetFramework="net45" />
  <package id="FSharp.Data" version="1.1.10" targetFramework="net45" allowedVersions="[1.1.0,2)" />
  <package id="log4net" version="2.0.3" targetFramework="net45" allowedVersions="[2,3)" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" allowedVersions="[6.0.1,7)" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" allowedVersions="[3.0.1,4)" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" allowedVersions="[2.6.3,3)" />
  <package id="OAuth2Client" version="1.6.1.2567" targetFramework="net45" allowedVersions="[1.6.0.2561,2)" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" allowedVersions="[3.6.1,4)" />
  <package id="VersionOne.Parsers" version="1.1.14192.66" targetFramework="net45" />
  <package id="VersionOne.SDK.APIClient" version="14.1.1.289" targetFramework="net45" allowedVersions="[14.1.1.264,15)" />
  <package id="VersionOne.ServiceHost.Core" version="1.0.215.0" targetFramework="net45" allowedVersions="[1.0.198.0,2)" />
</packages>